In [1]:
import pandas as pd
import numpy as np
import csv
import requests
import matplotlib.pyplot as plt
from matplotlib import style

style.use('ggplot')

In [2]:
# import the cost file - mastercard

month = '0719' # change this to applicable month

mc_file = r'C:\Users\jymas\Desktop\Personal\Official\Receipts\Monthly Bills\mc_' + month +'.csv'
df_costs = pd.read_csv(mc_file)

# filter for all expenses
df_costs = df_costs[df_costs['Activity Type'] != 'Payment']

total = round(df_costs['Amount'].sum(),2)

In [3]:
# create summary df

df_summary = df_costs.groupby('Merchant Category Description', sort=False).sum().fillna(0)
df_summary = df_summary.sort_values(by=['Amount'], ascending=False)

sum_total = round(df_summary['Amount'].sum(),2)
check = abs(sum_total - total) < 0.1

if check:
    print('Passed')
else:
    raise Exception('Total Costs do not match: ' + str(abs(sum_total - total)) + ' - difference' )

Passed

In [4]:
# summarize by day and week

df_summary['Week'] = df_summary['Amount'] / 4
df_summary['Day'] = df_summary['Week'] / 7

week_tot = round(df_summary['Week'].sum(), 2)
day_tot = round(df_summary['Day'].sum(), 2)
cat_set = list(dict.fromkeys(df_costs['Merchant Category Description'].tolist()))

print('Total: $' + str(total))
print('Week Total: $' + str(week_tot))
print('Day Total: $' + str(day_tot))

df_summary

Total: $576.42
Week Total: $144.11
Day Total: $20.59

                               Amount  Rewards     Week        Day
Merchant Category Description
DINING                         284.29      0.0  71.0725  10.153214
SHOPPING                       112.99      0.0  28.2475   4.035357
BUSINESS                       109.25      0.0  27.3125   3.901786
GROCERY                         62.39      0.0  15.5975   2.228214
ENTERTAINMENT                    7.50      0.0   1.8750   0.267857

In [5]:
print(cat_set)

['DINING', 'BUSINESS', 'SHOPPING', 'ENTERTAINMENT', 'GROCERY']

In [34]:
# category filters

cat_filter = cat_set[0]

df_cat = df_costs[df_costs['Merchant Category Description'] == cat_filter].sort_values(by=['Amount'], ascending=False)

In [35]:
df_cat

,Date,Activity Type,Merchant Name,Merchant Category Description,Amount,Rewards
28,2019-07-10,Purchase,PIZZA NOVA #392,DINING,78.03,NaN
5,2019-07-29,Purchase,NOON MOMENT,DINING,11.10,NaN
11,2019-07-22,Purchase,HARVEYS 0002606 QPS,DINING,10.49,NaN
37,2019-07-04,Purchase,FRESH BURRITO(MEXICAN,DINING,10.16,NaN
36,2019-07-05,Purchase,PITA FACTORY,DINING,8.99,NaN
34,2019-07-06,Purchase,PITA FACTORY,DINING,8.99,NaN
30,2019-07-09,Purchase,PITA FACTORY,DINING,8.99,NaN
26,2019-07-11,Purchase,PITA FACTORY,DINING,8.99,NaN
21,2019-07-14,Purchase,PITA FACTORY,DINING,8.99,NaN
15,2019-07-18,Purchase,PITA FACTORY,DINING,8.99,NaN
0,2019-08-01,Purchase,PITA FACTORY,DINING,8.99,NaN
9,2019-07-24,Purchase,PITA FACTORY,DINING,8.99,NaN
4,2019-07-29,Purchase,PITA FACTORY,DINING,8.99,NaN
3,2019-07-30,Purchase,ABE ERB BREW CO.,DINING,6.50,NaN
17,2019-07-16,Purchase,SWEET DREAMS TEASHOP,DINING,6.50,NaN
12,2019-07-21,Purchase,FRESH BURRITO(MEXICAN,DINING,6.20,NaN
7,2019-07-28,Purchase,FRESH BURRITO(MEXICAN,DINING,6.20,NaN
2,2019-07-30,Purchase,FRESH BURRITO(MEXICAN,DINING,6.20,NaN
33,2019-07-07,Purchase,FRESH BURRITO(MEXICAN,DINING,6.20,NaN
29,2019-07-10,Purchase,FRESH BURRITO(MEXICAN,DINING,6.20,NaN
25,2019-07-13,Purchase,FRESH BURRITO(MEXICAN,DINING,6.20,NaN
8,2019-07-25,Purchase,FRESH BURRITO(MEXICAN,DINING,6.20,NaN
13,2019-07-20,Purchase,FRESH BURRITO(MEXICAN,DINING,6.20,NaN
23,2019-07-14,Purchase,FRESH BURRITO(MEXICAN,DINING,6.20,NaN
19,2019-07-16,Purchase,FRESH BURRITO(MEXICAN,DINING,6.20,NaN
1,2019-07-31,Purchase,FRESH BURRITO(MEXICAN,DINING,6.20,NaN
10,2019-07-23,Purchase,FRESH BURRITO(MEXICAN,DINING,6.20,NaN
16,2019-07-17,Purchase,FRESH BURRITO(MEXICAN,DINING,6.20,NaN

In [36]:
df_cat.groupby('Merchant Name')['Amount'].sum()

Merchant Name
ABE ERB BREW CO.          6.50
FRESH BURRITO(MEXICAN    90.76
HARVEYS 0002606 QPS      10.49
NOON MOMENT              11.10
PITA FACTORY             80.91
PIZZA NOVA #392          78.03
SWEET DREAMS TEASHOP      6.50
Name: Amount, dtype: float64